.app-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  background-color: #fff;
  color: #ff9966;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 99;
}

.infos {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.nome {
  color: #ff9966;
  margin-right: 24px;
}

.logo {
  width: 36px;
  height: 36px;
  margin-left: 12px;
  margin-right: 8px;
}

.icons {
  display: flex;
  align-items: center;
}

.itens {
  display: flex;
  align-items: center;
}

.item {
  display: none;
  color: #ff9966;
  padding: 6px 12px;
}

.icons button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 12px;
}

.icons button:hover {
  background-color: #f5f5f5;
  border-radius: 50%;
}

.icons button:active {
  background-color: #c2c2c2;
  border-radius: 50%;
}

.icons button svg {
  width: 24px;
  height: 24px;
  fill: #ff9966;
}

@media screen and (min-width: 600px) {
  .app-bar {
    height: 64px;
  }
  .item {
    display: block;
  }
}
