.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 56px);
}

.form {
  width: 300px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.form h2 {
  margin-bottom: 20px;
  text-align: center;
}

.formGroup {
  margin-bottom: 15px;
}

.formGroup label {
  display: block;
  margin-bottom: 5px;
}

.formGroup input {
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.submitButton {
  padding: 10px;
  background-color: #ff9966;
  text-align: center;
  color: #ffffff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submitButton:hover {
  background-color: #ff8533;
}

.submitButton.fullWidth {
  width: 100%;
}

@media screen and (min-width: 600px) {
  .container {
    height: calc(100vh - 64px);
  }
}
