.container {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  max-width: 400px;
}

.header {
  margin-bottom: 10px;
}

.title {
  font-size: 20px;
  font-weight: bold;
}

.publicationDate {
  font-size: 14px;
  color: #555;
}

.body {
  padding: 10px;
}

.description {
  margin: 0;
  font-size: 16px;
}

.keyWords {
  font-size: 14px;
  color: #888;
}

.footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.interactions {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.comment,
.likes,
.dislikes {
  cursor: pointer;
  font-size: 14px;
  color: #555;
}
